.backButton {
    background-color:lightcoral;
    color: white;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    font-size: 1.5rem;
    display: block;
    width: 80%;
    border: none;
}