.addNoteDiv {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.addNoteFormItem {
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    font-size: 2rem;

}