.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    align-items: stretch;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;

}

header a:link {
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-grow: 1;
}

.right {
    display: flex;
    flex: 3;
    padding: 20px;
}

.left {
    display: flex;
    flex: 1;
    padding: 10px;
    min-width: 250px;
    flex-direction: column;
    padding-top: 5%;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    min-height: 200px;
}