.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;

}

header a:link {
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
}

.right {
    display: flex;
    flex: 3;
    padding: 20px;
}

.left {
    display: flex;
    flex: 1;
    padding: 10px;
    min-width: 250px;
    flex-direction: column;
}

footer {
    margin-top: auto;
}